*{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
    font-weight: 100;
}


body {
    background-color: gray;
    border: 20px;
    margin: 20px;
    padding: 3em;

}

h1 {
    color: blue;
}

h2 {
    color: blue;

}

h1 h2{
    text-align: justify;
    text-decoration: double;
    text-shadow: 0cap;
    
}



